<h1>Apólice de Seguro</h1>

<label for="nome" class="form-label">Nome do Segurado:</label>
<input type="text" [(ngModel)]="nome" class="form-control">

<label for="sexo" class="form-label">Sexo:</label>
<select [(ngModel)]="sexo" class="form-control">
  <option value="masculino">Masculino</option>
  <option value="feminino">Feminino</option>
</select>

<label for="idade" class="form-label">Idade:</label>
<input type="number" [(ngModel)]="idade" class="form-control">

<label for="valorAutomovel" class="form-label">Valor do Automóvel:</label>
<input type="number" [(ngModel)]="valorAutomovel" class="form-control">

<button (click)="calcularApolice()" class="btn btn-primary mt-2 mb-2">Calcular Apólice</button>

<p>Valor da Apólice: R$ {{ valorApolice }}</p>
